<?xml version="1.0" encoding="UTF-8"?>
<!--

       Copyright 2016 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!--
  version: $Id$
-->
<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

  <properties>
    <title>MyBatis Ignite | Reference Documentation</title>
  </properties>

  <body>
    <section name="MyBatis Ignite Integration - Reference Documentation">

    <p><a href="https://apacheignite.readme.io/">Apache Ignite</a> is a high-performance, integrated and distributed in-memory platform for computing and transacting on large-scale data sets in real-time, orders of magnitude faster than possible with traditional disk-based or flash technologies.</p>
    <p>Users who want to use Apache Ignite in their applications as a 2nd level cache have to download the
    <a href="https://github.com/mybatis/ignite-cache/releases">zip bundle</a>, decompress it and add the jars in the classpath.
    Apache Maven users instead can simply add in the <code>pom.xml</code> the following dependency:</p>
    <source><![CDATA[<dependencies>
  ...
  <dependency>
    <groupId>${project.groupId}</groupId>
    <artifactId>${project.artifactId}</artifactId>
    <version>${project.version}</version>
  </dependency>
  ...
</dependencies>]]></source>
            <p>then, configure it in the mapper XML</p>
            <source><![CDATA[<mapper namespace="org.acme.FooMapper">
  <cache type="org.mybatis.caches.ignite.IgniteCacheAdapter" />
</mapper>]]></source>

  <p>and configure your Ignite cache in <code>config/default-config.xml</code> by specifying the properties of <code>"templateCacheCfg"</code> bean (Basic reference configurations are available <a href="https://github.com/mybatis/ignite-cache/tree/master/config">here</a>.)
  If <code>config/default-config.xml</code> is not available, the cache is started with the default settings.</p>
  
  <p>For more details, please see <a href="https://apacheignite.readme.io/">Apache Ignite docs</a> or ask in <a href="http://apache-ignite-users.70518.x6.nabble.com/">the mailing list</a>.</p>

        </section>
    </body>

</document>
