<?xml version="1.0" encoding="UTF-8"?>
<!--

       Copyright 2016-2026 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          https://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<document xmlns="http://maven.apache.org/XDOC/2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

  <properties>
    <title>MyBatis Ignite | Reference Documentation</title>
  </properties>

  <body>
    <section name="MyBatis Ignite Integration - Reference Documentation">
      <p>
         <a href="https://ignite.apache.org/">Apache Ignite</a> is a distributed database for high-performance computing and low-latency data access.
      </p>
      <p>Users who want to use Apache Ignite in their applications as a second-level cache can add the following dependency to their 
         <code>pom.xml</code>:
      </p>
      <source><![CDATA[<dependencies>
  ...
  <dependency>
    <groupId>${project.groupId}</groupId>
    <artifactId>${project.artifactId}</artifactId>
    <version>${project.version}</version>
  </dependency>
  ...
        </dependencies>]]></source>
      <p>Then, configure it in the mapper XML:</p>
      <source>
        <![CDATA[<cache type="org.mybatis.caches.ignite.IgniteCacheAdapter"/>]]>
      </source>
      <p>The cache adapter uses the Apache Ignite 3 client API to connect to an Ignite server. By default, it connects to 
        <code>127.0.0.1:10800</code>. The connection address can be customized using the 
        <code>ignite.addresses</code> property in 
        <code>config/default-config.properties</code>.
      </p>
    </section>
  </body>

</document>
